<div class="d-flex flex-column justify-content-center p-5">
    <div class="d-flex flex-column justify-content-center">
        <div>
            <div>
                <h3 class="heading">Search by: </h3>
                <select class="form-select" name="searchType" id="searchType" [(ngModel)]="searchType">
                    <option value="doctor-name" selected>Name</option>
                    <option value="specialization">Specialization</option>
                </select> <br><br>
    
                <input class="search-input" type="search" placeholder="Search" [(ngModel)]="searchInput"><br><br><br>
            </div>
            <div>
                <h3 class="heading">Sort by: </h3>
                <select class="form-select" name="sortType" id="sortType" [(ngModel)]="sortType">
                    <option value="doctor-name" selected>Name</option>
                    <option value="specialization">Specialization</option>
                    <option value="experience">Experience</option>
                    <option value="consultancy-fee">Consultancy Fee</option>
                </select> <br><br>
            </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="displayDoctors()">Show All Doctors</button>
        <p *ngIf="error!=''">{{error}}</p>
    </div><br><br>

    <h3 class="heading"  *ngIf="doctors.length>0">Available Doctors</h3>
    <table class="table table-striped-columns" *ngIf="doctors.length>0" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Specialization</th>
                <th>Experience</th>
                <th>Consultancy Fee</th>
            </tr>
        </thead>
        <tbody *ngFor="let doctor of doctors | searchDoctor:searchType:searchInput:sortType ;let i=index">
            <tr >
                <td>{{i}}</td>
                <td>{{doctor.name}}</td>
                <td>{{doctor.specialization}}</td>
                <td>{{doctor.experience}}</td>
                <td>{{doctor.consultancyFee}}</td>
                <td>
                    <button type="button" (click)="initiateBooking(doctor.id)">Book Appointment</button>
                </td>
                <!-- <td> <button (click)="deleteAccountById(doctor.id)" class="btn btn-danger">Delete</button></td> -->
                <!-- <td> <button (click)="updateAccount(account)" class="btn btn-warning">Update</button></td> -->
                <td *ngIf="formEnabled && (selectedDoctorId===doctor.id)">
                    <form (submit)="makeBooking(doctor.id)">
                        <h3>Enter appointment details</h3>
                        <label for="appointmentDescription">Description</label><br>
                        <input id="appointmentDescription" type="text" name="appointmentDescription" placeholder="Brief description for the doctor" [(ngModel)]="appointment.appointmentDescription"><br>
                        <label for="appointmentDate">Appointment Date</label><br>
                        <input id="appointmentDate" type="date" name="appointmentDate" placeholder="Enter Appointment Date" [(ngModel)]="appointment.appointmentDate"><br>
                        <label for="appointmentSlot">Appointment Slot</label><br>
                        <input id="appointmentSlot" type="number" name="appointmentSlot" placeholder="Enter Appointment Slot" [(ngModel)]="appointment.appointmentSlot"><br>
                        <input type="submit" value="Book">
                    </form>
                </td> 
                            
                
            </tr>
              
            
        </tbody>
    </table>

</div>