
<div class="container p-5 d-flex flex-column justify-content-center">
    <div class="card p-5">
        <h3 class="heading">Who are you?</h3>
    <select class="form-control" name="userType" id="userType" required [(ngModel)]="userType">
        <option value="client">Client</option>
        <option value="doctor">Doctor</option>
    </select><br><br>

    <p class="alert alert-danger" *ngIf="error!=''">{{error}}</p>

    <form class="form-control p-5" name="client" *ngIf="userType=='client'" (submit)="registerClient()">
        <label class="form-label" for="name">Name</label><br>
        <input class="form-control" type="text" id="name" name="name" placeholder="Enter your name" required pattern="^[a-zA-Z ]+$" minlength="3" maxlength="20" title="Name can only contain letters" [(ngModel)]="client.name"><br>
        <label class="form-label" for="email">Email</label><br>
        <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email"  required [(ngModel)]="client.email" ><br>
        <label class="form-label" for="password">Password</label><br>
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password"  required [(ngModel)]="client.password" ><br>
        <label class="form-label" for="dateOfBirth">Date of Birth</label><br>
        <input class="form-control" type="date" id="dateOfBirth" name="dateOfBirth" placeholder="Enter your date of birth"  required [(ngModel)]="client.dateOfBirth" ><br>
        <label class="form-label" for="mobile">Mobile Number</label><br>
        <input class="form-control" type="tel" id="mobile" name="mobile" placeholder="Enter your mobile number"  required [(ngModel)]="client.mobileNumber" ><br>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>


    <form class="form-control p-5" name="doctor" *ngIf="userType=='doctor'" (submit)="registerDoctor()">
        <label class="form-label" for="name">Name</label><br>
        <input class="form-control" type="text" id="name" name="name" placeholder="Enter your name" required minlength="3" maxlength="20" [(ngModel)]="doctor.name"><br>
        <label class="form-label" for="email">Email</label><br>
        <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email"  required [(ngModel)]="doctor.email" ><br>
        <label class="form-label" for="password">Password</label><br>
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password"  required [(ngModel)]="doctor.password" ><br>
        <label class="form-label" for="specialization">Specializayion</label><br>
        <input class="form-control" type="text" id="specialization" name="specialization" placeholder="Enter your specialization" required [(ngModel)]="doctor.specialization"><br>
        <label class="form-label" for="experience">Experience</label><br>
        <input class="form-control" type="number" id="experience" name="experience" placeholder="Enter your experience in years" required [(ngModel)]="doctor.experience"><br>
        <label class="form-label" for="mobile">Mobile Number</label><br>
        <input class="form-control" type="tel" id="mobile" name="mobile" placeholder="Enter your mobile number"  required [(ngModel)]="doctor.mobileNumber" ><br>
        <label class="form-label" for="consultancyFee">Consultancy Fee</label><br>
        <input class="form-control" type="number" id="consultancyFee" name="consultancyFee" placeholder="Enter your consultancy fee" required [(ngModel)]="doctor.consultancyFee"><br>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
    </div>
</div>